# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dan-projects\xy_oa_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
